@font-face
  font-family 'Philosopher'
  src url("../fonts/Philosopher.eot")
  src url("../fonts/Philosopher.eot?#iefix") format("embedded-opentype"), url("../fonts/Philosopher.woff2") format("woff2"), url("../fonts/Philosopher.woff") format("woff"), url("../fonts/Philosopher.ttf") format("truetype"), url("../fonts/Philosopher.svg#Philosopher") format("svg")
  font-weight normal
  font-style normal
@font-face
  font-family 'OpenSans-Semibold'
  src url("../fonts/OpenSans-Semibold.eot")
  src url("../fonts/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold.woff2") format("woff2"), url("../fonts/OpenSans-Semibold.woff") format("woff"), url("../fonts/OpenSans-Semibold.ttf") format("truetype"), url("../fonts/OpenSans-Semibold.svg#OpenSans-Semibold") format("svg")
  font-weight normal
  font-style normal
font-header()
  font-family 'Philosopher', sans-serif
  font-weight bold
font-body()
  font-family 'OpenSans-Semibold', sans-serif
  font-weight 500
