<template name="articleTitle">
  <div class="article-title">
    <h2>Get a Move on Jack</h2>
  </div>
</template>

<template name="article">
  <article class="module">
		<p>
			<em class="explanation">
				Grumpy wizards make toxic brew for the evil Queen and Jack, but helpful psionicist know how to counteract.
			</em>
		</p>
		<p>
  		Lorem ipsum dolor sit amet, cum et nihil mediocritatem. Per an debitis intellegebat, te mei putant principes. Eu quot putent evertitur vix, ei qui possit melius. Vis veri sanctus voluptatum te, choro gloriatur intellegat vix at. Pri omnesque splendide democritum at.
	  </p>
	  <p>
			Aeque admodum ad his, ad cum impetus verterem, ex qualisque iracundia mea. Meis explicari te pro. Odio ponderum vituperata per ad, id officiis facilisi pro. Cum electram consetetur ea. Quo ea fierent dissentiet persequeris, ea cibo vituperata vis. Solet apeirian adversarium te vix, cum illud possim civibus et. Tale erat ea est, nihil blandit eligendi mei ex.
		</p>
		<p>
			Ludus erroribus consectetuer vis ea, ad esse postea sed, in cum nonumy aliquip utroque. Sea fabulas menandri ad, ex vix mucius sensibus. Ei duo natum essent deseruisse, te essent euismod nec. Oratio evertitur definitionem ne qui, erat autem nam ex. Option omittantur cu vis, in eam soleat petentium, ut audire atomorum convenire eos.
		</p>
  </article>
  
</template>
